<section class="grid mx-0 mt-3 my-4">
  <div class="col-offset-3 col-2 py-0">
    <mat-form-field appearance="fill">
      <mat-label>Data wydarzenia</mat-label>
      <mat-date-range-input [rangePicker]="picker //noinspection ValidateTypes" [min]="minDate">
        <input matStartDate [formControl]="startDateFormControl" />
        <input matEndDate [formControl]="endDateFormControl" />
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>
  <div class="col-2 py-0">
    <mat-form-field appearance="fill">
      <mat-label>Kategoria</mat-label>
      <mat-select [formControl]="categoryFormControl">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-3 mt-2 py-0">
    <button mat-raised-button color="primary" class="mx-2" type="button" (click)="applyFilters()">
      <mat-icon>find_in_page</mat-icon>
      Zastosuj filtry
    </button>
    <button mat-raised-button color="warn" type="reset" (click)="resetFilters()">
      <mat-icon>clear</mat-icon>
      Wyczyść filtry
    </button>
  </div>

  <div class="col-12 px-4 pt-0">
    <div id="map" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)">
      <div *ngFor="let layer of layers" [leafletLayer]="layer"></div>
      <div *ngIf="circleLayer" [leafletLayer]="circleLayer"></div>
    </div>
  </div>
</section>
