<section>
  <h1 class="lg:col-offset-1 col my-3">Dodaj wydarzenie</h1>

  <form [formGroup]="addEventForm" class="grid mt-2 mx-0" (ngSubmit)="onSubmit()">
    <div class="lg:col-offset-2 col-12 sm:col-6 lg:col-4">
      <mat-form-field>
        <mat-label>Nazwa wydarzenia</mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>
    </div>
    <div class="col-12 sm:col-6 lg:col-4">
      <mat-form-field appearance="fill">
        <mat-label>Kategoria</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="lg:col-offset-2 col-12 sm:col-4 lg:col-3">
      <mat-form-field>
        <mat-label>Data wydarzenia</mat-label>
        <input
          matInput
          [matDatepicker]="datePicker //noinspection ValidateTypes"
          formControlName="date"
          [min]="minDate" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-12 sm:col-4 lg:col-3">
      <mat-form-field>
        <mat-label>Czas wydarzenia</mat-label>
        <input
          matInput
          [format]="24"
          formControlName="time"
          [ngxMatTimepicker]="timePicker"
          placeholder="16:00"
          readonly />
        <mat-icon matSuffix (click)="timePicker.open()">watch_later</mat-icon>
      </mat-form-field>
      <ngx-mat-timepicker #timePicker></ngx-mat-timepicker>
    </div>

    <div class="col-12 sm:col-4 lg:col-2">
      <mat-form-field>
        <mat-label>Czas trwania</mat-label>
        <input matInput type="number" formControlName="duration" />
        <mat-hint>w minutach</mat-hint>
      </mat-form-field>
    </div>

    <div class="lg:col-offset-2 col-12 sm:col-7 lg:col-4 pl-3 age">
      <label>Wiek:</label>
      <mat-slider min="16" max="75" discrete>
        <input matSliderStartThumb formControlName="minAge" />
        <input matSliderEndThumb formControlName="maxAge" />
      </mat-slider>
    </div>

    <div class="col-12 sm:col-5 lg:col-4">
      <mat-form-field appearance="fill">
        <mat-label>Płeć</mat-label>
        <mat-select formControlName="sex">
          <mat-option *ngFor="let sex of gender" [value]="sex">
            {{ sex }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="lg:col-offset-2 col-12 lg:col-8">
      <div
        id="map"
        leaflet
        [leafletOptions]="options"
        (leafletClick)="onMapClick($event)"
        (leafletMapReady)="onMapReady($event)">
        <div [leafletLayer]="layer" *ngIf="layer"></div>
      </div>
    </div>

    <div class="col-offset-2 col-8 pb-5 mb-5 lg:pb-0 lg:mb-0">
      <button type="submit" mat-flat-button [disabled]="!addEventForm.valid" color="primary">Dodaj</button>
    </div>
  </form>
</section>
