mat-form-field {
  width: 100%;
}

#map {
  height: 500px;
}

button[type='submit'] {
  float: right;
}

.age {
  margin: auto 0;
}

mat-slider {
  width: calc(100% - 80px);
  max-width: 600px;
  margin-left: 20px;
}
