<div class="wrapper">
  <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <app-sidenav (closeSidenav)="sidenav.close()"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <main>
        <router-outlet></router-outlet>
      </main>
      <footer>
        <span class="pr-1 lg:px-4">© 2023 We are Locals</span>
        <span class="pl-1 lg:px-4">
          Icons:
          <a href="https://freeicons.io/profile/722">Fasil</a>,
          <a href="https://freeicons.io/profile/8908">EDT.Graphics</a>,
          <a href="https://freeicons.io/profile/6156">Reda</a>,
          <a href="https://freeicons.io/profile/75801">Hilmy Abiyyu Asad</a> on
          <a href="https://freeicons.io">freeicons.io</a>
        </span>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
