mat-sidenav-container,
mat-sidenav-content,
mat-sidenav,
main {
  min-height: 100%;
}

div.wrapper {
  min-height: 100vh;
}

mat-sidenav {
  width: 250px;
}

.footer {
  font-size: 12px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  text-align: center;
  padding-top: 8px;

  span {
    padding-right: 30px;
    padding-left: 30px;
  }
}
